<div class="border-bottom">
  <div class="container d-flex justify-content-between align-items-center py-3">
    <h5 class="font-weight-bold m-0">Leads : <%= @quotes.count %></h5>
    <%= link_to "+ Ajouter un lead", new_quote_path, class: 'btn btn-primary' %>
  </div>
</div>




<div class="container mt-3">
  <table id="table" class="display table-minimal table-offers" style="width:100%">
    <thead>
      <tr>
        <th>Type</th>
        <th>Nom</th>
        <th>Nombre contacts</th>
        <th>Produit</th>
        <th>Qualification</th>
        <th class="text-right">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @quotes.each do |quote| %>
      <tr data-list-id='<%= quote.id %>'>
        <td><strong><%= link_to quote.full_name, quote_path(quote) %></strong></td>
        <td><%= quote.email %></td>
        <td><%= quote.phone %></td>
        <td><%= quote.product.name %></td>
        <td><%= quote.qualification.name %></td>
        <td  class="text-right text-action">
        <%= link_to "<i class='fas fa-pen-alt text-muted'></i>".html_safe, edit_quote_path(quote), class: "mr-2"  %>
        <%= link_to "<i class='fas fa-trash-alt text-muted'></i>".html_safe, quote_path(quote), class: "mr-2"  %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
