<span data-controller="radio-selector">
    <span index="<%= 0 %>" id="kind_<%= 0 %>" data-target="radio-selector.option" class="radio-choice meeting-item" data-action="click->radio-selector#selectRadioOption">Rendez-vous téléphonique</span>
</span>
<span data-controller="radio-selector">
    <span index="<%= 1 %>" id="kind_<%= 1 %>" data-target="radio-selector.option" class="radio-choice meeting-item" data-action="click->radio-selector#selectRadioOption">Rendez-vous en agence</span>
</span>

<div position="<%= position %>" data-action="click->multi-steps-form#next" data-target="multi-steps-form.firstNextButton" class="btn btn-primary d-none">NEXT</div>