<div class="bg-secondary">
    <div class="container min-vh-100-min-nav d-flex justify-content-center align-items-center">
        <div class="card p-2 w-100">
            <%= simple_form_for [@workflow, @step] do |f| %>
            <div data-controller="step">
            <%= f.input :type, 
            as: :select, 
            collection: [["Email", "EmailStep"], ["Sms", "SmsStep"], ["Delay", "DelayStep"]], 
            label_method: :first, 
            value_method: :second, 
            input_html: { "data-action" => "change->step#kind", "data-target" => "step.kindOfStep"} 
            %>
            <%= f.input :title, wrapper_html: { "data-target" => "step.titleInput", class: "d-none" } %>
            <%= f.input :body, wrapper_html: { "data-target" => "step.bodyInput", class: "d-none" }, as: :trix_editor %>
            <%= f.input :delay, wrapper_html: { "data-target" => "step.delayInput", class: "d-none" } %>
            <%= f.button :submit, class: 'btn btn-primary' %>
            </div>  
        <% end %>
        </div>
    </div>
</div>